<div class="content">
    <aside><app-hero-img></app-hero-img></aside>
    <main>
        <header>
            <h2>Registre o seu <span>currículo</span> ou veja o seu progresso fazendo <span>login</span>.</h2>
        </header>

        <div class="actions">
            <a routerLink="register">Registrar currículo</a>
            <a routerLink="login">Fazer login</a>
        </div>

        <footer>
            <div>
                <p>Este projeto foi baseado em um layout chamado <span class="we">We&nbsp;</span><span class="form">Form</span>.</p>
                <a href="https://www.figma.com/file/w11Rpk9e1tqreNMtHAVrDm/We-Form?type=design&node-id=0-1&t=AQWsn7qRWLmv3Zwl-0" target="_blank">Acessar projeto original</a>
            </div>
        </footer>
    </main>
</div>