<div class="content">
    <aside><app-hero-img></app-hero-img></aside>
    <main>
        <header>
            <h2>Registre o seu <span>currículo</span> ou veja o seu progresso fazendo <span>login</span>.</h2>
        </header>

        <div class="actions">
            <a routerLink="register">Registrar currículo</a>
            <a href="">Fazer login</a>
        </div>

        <footer>
            <p>Sua entidade não se enquadra nos campos de atuação disponiveis?</p>
            <a href="">Registrar novo campo de atuação</a>
        </footer>
    </main>
</div>