<div class="content">
    <aside>
        <img src="../../../assets/hero.png" alt="" />
        <h1>Game<span>Land</span></h1>
    </aside>

    <main>
        <h2>Registre o seu <span>currículo</span> ou veja o seu progresso fazendo <span>login</span>.</h2>

        <div class="actions">
            <a href="">Registrar currículo</a>
            <a href="">Fazer login</a>
        </div>

        <footer>
            <p>Sua entidade não se enquadra nos campos de atuação disponiveis?</p>
            <a href="">Registrar novo campo de atuação</a>
        </footer>
    </main>
</div>
