<div class="content">
    <aside><app-hero-img></app-hero-img></aside>
    <main>
        <header class="regtitle">
            <div class="hdr">
                <a routerLink=""><i class="fa-solid fa-angle-left"></i></a>
                <h2>Ola, <span>%user.name%</span></h2>
            </div>
        </header>

        <section class="status">
            <p>Ainda não conferimos o seu currículo. Iremos lhe enviar um <span>e-mail</span> caso nos interessemos pelas suas habilidades.</p>
            <div class="divline"></div>
            <div class="info">
                <div>E-mail cadastrado:</div><div><span>%adrianosilva90.suamaeehminha.webdevas@gmail.com%</span></div>
            </div>
            <div class="divline"></div>
            <div class="info">
                <div>Cargo desejado:</div><div><span>%user.role%</span></div>
            </div>

            <!-- <div class="divline"></div>
            <div class="info"><p>Cargo desejado: $user.role%</p></div> -->
        </section>

        <div class="actions">
            <a href="">Deletar registro</a>
        </div>
    </main>
</div>
