<div class="content">
    <aside><app-hero-img></app-hero-img></aside>
    <main>
        <header class="regtitle">
            <div class="hdr">
                <a routerLink=""><i class="fa-solid fa-angle-left"></i></a>
                <h2>Faça <span>login</span></h2>
            </div>
        </header>

        <form>
            <label for="reg-mail">E-Mail</label>
            <input type="email" id="reg-mail" autocomplete="off" />

            <label for="reg-passwd">Senha</label>
            <input type="password" id="reg-passwd" autocomplete="off" />
        </form>

        <div class="actions">
            <a href="">Login</a>
        </div>
    </main>
</div>